@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans&display=swap');

:root {
    --container-width: 30vw;
}

body {
    display: grid;
    justify-content: center;
    align-content: center;
    height: auto;
    margin: 0;
    padding: 40px;
    background-color: black;
}

.wrapper {
    min-width: 65vw;
    background-color: white;
    border-radius: 35px;
    border: 2px dashed black;
    border-top: 6px dashed black;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto;
}

h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: calc(2.5vw + 24px);
    margin: 8px auto;
}

.content {
    display: grid;
    gap: calc(var(--container-width) * .2);
    grid-template-columns: auto auto;
    justify-content: left;
    align-content: center;
    padding: 30px calc(var(--container-width) * .2) 40px calc(var(--container-width) * .2);
}

.left {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}

.container {
    width: var(--container-width);
    min-width: 300px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    background-color: black;
    gap: 20px;
}

.square {
    height: calc(var(--container-width) / 3);
    min-height: 100px;
    font-size: calc(2.5vw + 72px);
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
}

.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-items: left;
    font-family: "Anton", sans-serif;
    font-size: calc(2vw + 12px);
}

.right-top {
    align-self: center;
}

.winner {
    font-family: "Anton", sans-serif;
    font-size: calc(2vw + 12px);
}

.mode {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
}

.new-round button, .mode button {
    color: white;
    font-family: "Anton", sans-serif;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-size: calc(2vw + 12px);
}

.mode button.green {
    background-color: lawngreen;
    color: black;
}